In [1]:
people = {
    "first":['Ali','Jane','Jhon'],
    "last":['Raza','Doe','Doe'],
    "email":['aliraza@gmail.com','janeDoe@gmail.com','JhonDoe@hotmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

  first  last                email
0   Ali  Raza    aliraza@gmail.com
1  Jane   Doe    janeDoe@gmail.com
2  Jhon   Doe  JhonDoe@hotmail.com